@import '~@angular/material/theming';

@include mat-core();

$luminate-primary: mat-palette($mat-indigo);
$luminate-accent:  mat-palette($mat-pink, A200, A100, A400);

$luminate-theme: mat-light-theme($luminate-primary, $luminate-accent);

@include angular-material-theme($luminate-theme);